<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Educación Social </title>
        <meta name="description" content="Una guía interactiva de primeros pasos para Brackets.">
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <section class="titulo">
            <h1>PRACTICUM DE GRAO</h1>
            <H4>DATOS PARA A DOCUMENTACIÓN DO PRACTICUM</H4>
            <H5>Documento D8 da normativa vixente das Prácticas Externas Curriculares</H5>
            <h5>*Campo Obligatorio</h5>
        </section>
        <section class="texto">
        <form action="" method="post" id="educacionsocial">          
            <fieldset>
                <legend>Practicum</legend>
                <input type="radio" name="practicum" value="1">Prácticum I<br>
                <input type="radio" name="practicum" value="2">Prácticum II<br>
            </fieldset>
            <fieldset>
                <legend>Curso Académico</legend>
                <input type="text" required="true" pattern="[0-9]{4}">/
                <input type="text" required="true" pattern="[0-9]{4}">
            </fieldset>
            <fieldset>
                <legend>Nome</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>Apelidos</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>NIF</legend>
                <input type="text" required="true" pattern="[0-9]{8}[A-Z]{1}">
            </fieldset>
            <fieldset>
                <legend>Titor/a Académico</legend>
                <select>
                  <option value="Pepe">Pepe</option>
                  <option value="Ana">Ana</option>
                  <option value="Juan">Juan</option>
                  <option value="Xurxo">Xurxo</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Nome da institución</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>Titor/a externo</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>Data de inicio do Practicum</legend>
                <input type="date" required="true">
            </fieldset>
            <fieldset>
                <legend>Data de finalización do Practicum</legend>
                <input type="date" required="true">
            </fieldset>
            <fieldset>
                <legend>Horas totais do Practicum</legend>
                <input type="text" required="true" pattern="[0-9]{4}">
            </fieldset>
        </form>
            <button type="submit" form="educacionsocial" value="Submit">Enviar</button>
        </section>
    </body>
</html>
