<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Educación Social </title>
        <meta name="description" >
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <section class="titulo">
            <h1>PRACTICUM DE GRAO</h1>
            <H4>DATOS PARA A DOCUMENTACIÓN DO PRACTICUM</H4>
            <H5>Documento D8 da normativa vixente das Prácticas Externas Curriculares</H5>
            <h6>*Campo Obligatorio</h6>
        </section>
        <section class="texto">
        <form action="" method="post" id="educacionsocial">          
            <fieldset>
                <legend>Practicum</legend>
                <input type="radio" name="practicum" value="1" checked="true">Prácticum I<br>
                <input type="radio" name="practicum" value="2">Prácticum II<br>
            </fieldset>
            <fieldset>
                <legend>Curso Académico <h7 class="asterisco">*</h7></legend>
                <input name="fecha1" type="text" required="true" pattern="^[0-9]{4}" size="4" maxlength="4"> / 
                <input name="fecha2" type="text" required="true" pattern="^[0-9]{4}" size="4" maxlength="4">
            </fieldset>
            <fieldset>
                <legend>Nome <h7 class="asterisco">*</h7></legend>
                <input name="nombre" type="text" required="true" size="30" maxlength="30" pattern="^[A-Za-z]{1,30}">
            </fieldset>
            <fieldset>
                <legend>Apelidos <h7 class="asterisco">*</h7></legend>
                <input name="apellidos" type="text" required="true" size="50" maxlength="50" pattern="^[A-Za-z]{1,50}">
            </fieldset>
            <fieldset>
                <legend>NIF <h7 class="asterisco">*</h7></legend>
                <input name="dni" type="text" required="true" pattern="^[0-9]{8}[A-Z]{1}$" size="9" maxlength="9">
            </fieldset>
            <fieldset>
                <legend>Titor/a Académico <h7 class="asterisco">*</h7></legend>
                <select name="tutorA" required="true">
                  <option value="" selected="true">--Elixa Opción</option>
                  <option value="Pepe">Pepe</option>
                  <option value="Ana">Ana</option>
                  <option value="Juan">Juan</option>
                  <option value="Xurxo">Xurxo</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Nome da institución <h7 class="asterisco">*</h7></legend>
                <input name="nombreIns"  type="text" required="true"  size="30" maxlength="30">
            </fieldset>
            <fieldset>
                <legend>Titor/a externo <h7 class="asterisco">*</h7></legend>
                <input name="tutorE" type="text" required="true" size="30" maxlength="30" pattern="^[A-Za-z]{1,30}">
            </fieldset>
            <fieldset>
                <legend>Data de inicio do Practicum <h7 class="asterisco">*</h7></legend>
                <input name="fechaIni" type="date" required="true">
            </fieldset>
            <fieldset>
                <legend>Data de finalización do Practicum <h7 class="asterisco">*</h7></legend>
                <input name="fechaFin" type="date" required="true">
            </fieldset>
            <fieldset>
                <legend>Horas totais do Practicum <h7 class="asterisco">*</h7></legend>
                <input name="horasPrac" type="text" required="true" pattern="^[0-9]{4}"  size="4" maxlength="4">
            </fieldset>
            <input type="text" name="titulacion" style="visibility: hidden;" value="educacionsocial"><br>

            <button type="submit" form="educacionsocial" value="Submit">Enviar</button>
            <button type="reset"  form="educacionsocial" value="Reset">Reestablecer</button>
        </form>           
        </section>
    </body>
</html>
