<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Educación Primaria</title>
        <meta name="description" content="Una guía interactiva de primeros pasos para Brackets.">
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <section class="titulo">
            <h1>PRACTICUM DE GRAO</h1>
            <H4>DATOS PARA A DOCUMENTACIÓN DO PRACTICUM</H4>
            <H5>Documento D8 da normativa vixente das Prácticas Externas Curriculares</H5>
            <h5>*Campo Obligatorio</h5>
        </section>
        <section class="texto">
        <form action="" method="post" id="primaria">          
            <fieldset>
                <legend>Curso Académico</legend>
                <input type="text" required="true" pattern="[0-9]{4}">/
                <input type="text" required="true" pattern="[0-9]{4}">
            </fieldset>
            <fieldset>
                <legend>Mención</legend>
                <select>
                  <option value="educacionE">Educación Especial</option>
                  <option value="afondamentoC">Afondamento Curricular</option>
                  <option value="linguaE">Lingua Estranxeiras</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Nome</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>Apelidos</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>NIF</legend>
                <input type="text" required="true" pattern="[0-9]{8}[A-Z]{1}">
            </fieldset>
            <fieldset>
                <legend>Titor/a Académico</legend>
                <select>
                  <option value="Pepe">Pepe</option>
                  <option value="Ana">Ana</option>
                  <option value="Juan">Juan</option>
                  <option value="Xurxo">Xurxo</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Nome da institución</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>CIF ou NIF da empresa</legend>
                <input type="text" required="true">
            </fieldset>
            <fieldset>
                <legend>Enderezo da institución</legend>
                <label> Provincia: </label><input type="text" required="true" >
                <label> Localidade: </label><input type="text" required="true" >
                <label> Enderezo: </label> <input type="text" required="true" >
                <label> CP: </label> <input type="text" required="true" pattern="[0-9]{5} ">
            </fieldset>
            <fieldset>
                <legend>Data de inicio do Practicum</legend>
                <input type="date" required="true">
            </fieldset>
            <fieldset>
                <legend>Data de finalización do Practicum</legend>
                <input type="date" required="true">
            </fieldset>
        </form>
            <button type="submit" form="primaria" value="Submit">Enviar</button>
        </section>
    </body>
</html>
