<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Traballo Social</title>
        <meta name="description" >
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <section class="titulo">
            <h1>PRACTICUM DE GRAO</h1>
            <H4>DATOS PARA A DOCUMENTACIÓN DO PRACTICUM</H4>
            <H5>Documento D8 da normativa vixente das Prácticas Externas Curriculares</H5>
            <h6>*Campo Obligatorio</h6>
        </section>
        <section class="texto">
        <form action="" method="post" id="trabajosocial">          
            <fieldset>
                <legend>Curso Académico <h7 class="asterisco">*</h7></legend> 
                <input type="text" required="true" pattern="[0-9]{4}" size="4" maxlength="4"> / 
                <input type="text" required="true" pattern="[0-9]{4}" size="4" maxlength="4">
            </fieldset>
            <fieldset>
                <legend>Nome <h7 class="asterisco">*</h7></legend>
                <input type="text" required="true" size="30" maxlength="30" pattern="^[A-Za-z]{1,30}$">
            </fieldset>
            <fieldset>
                <legend>Apelidos <h7 class="asterisco">*</h7></legend>
                <input type="text" required="true" size="50" maxlength="50" pattern="^[A-Za-z]{1,50}$">
            </fieldset>
            <fieldset>
                <legend>NIF <h7 class="asterisco">*</h7></legend>
                <input type="text" required="true" pattern="^[0-9]{8}[A-Za-z]{1}$" size="9" maxlength="9">
            </fieldset>
            <fieldset>
                <legend>Enderezo <h7 class="asterisco">*</h7></legend>
                <label> Provincia: </label><input type="text" required="true"  size="30" maxlength="30" pattern="^[A-Za-z]{1,30}$"> 
                <label> Localidade: </label><input type="text" required="true" size="30" maxlength="30" pattern="^[A-Za-z]{1,30}$"> <br><br>
                <label> Dirección: </label><input type="text" required="true" size="50" maxlength="50"> 
                <label> CP: </label><input type="text" required="true" pattern="^[0-9]{5}$" size="5" maxlength="5">
            </fieldset>
            <fieldset>
                <legend>Teléfono de contacto</legend>
                <input type="text" pattern="[0-9]{9}" size="9" maxlength="9">
            </fieldset>
            <fieldset>
                <legend>E-mail</legend>
                <input type="text" required="true" size="50" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}">
            </fieldset>
            <fieldset>
                <legend>Titor/a Académico <h7 class="asterisco">*</h7></legend>
                <label>Elixe desta lista o nome do teu titor/a da Facultade</label><br>
                <select>
                  <option value="Pepe">Pepe</option>
                  <option value="Ana">Ana</option>
                  <option value="Juan">Juan</option>
                  <option value="Xurxo">Xurxo</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Horas titorizadas</legend>
                <label>No caso de ter mais de un tutor, debes indicar cantas horas titorizou cada un.
                Por exemplo José Pérez Pérez 250h</label> <br>
                <textarea rows="5" cols="60"  maxlength="60" ></textarea>
            </fieldset>
            <fieldset>
                <legend>Nome da institución <h7 class="asterisco">*</h7></legend>
                <input type="text" required="true" size="30" maxlength="30" >
            </fieldset>
            <fieldset>
                <legend>CIF ou NIF da empresa <h7 class="asterisco">*</h7></legend>
                <input type="text" required="true" size="30" maxlength="30">
            </fieldset>
            <fieldset>
                <legend>Enderezo da institución <h7 class="asterisco">*</h7></legend>
                <label> Provincia: </label><input type="text" required="true" size="30" maxlength="30" pattern="^[A-Za-z]{1,30}$" >
                <label> Localidade: </label><input type="text" required="true" size="30" maxlength="30" pattern="^[A-Za-z]{1,30}$"><br><br>
                <label> Dirección: </label> <input type="text" required="true" size="50" maxlength="50" >
                <label> CP: </label> <input type="text" required="true" pattern="[0-9]{5}" size="5" maxlength="5">
            </fieldset>
            <fieldset>
                <legend>Teléfono de contacto coa institución</legend>
                <input type="text" size="9" maxlength="9" pattern="^[0-9]{9}$">
            </fieldset>
            <fieldset>
                <legend>E-mail de contacto coa institución</legend>
                <input type="text" size="50" maxlength="50" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </fieldset>
            <fieldset>
                <legend>Data de inicio do Practicum <h7 class="asterisco">*</h7></legend>
                <input type="date" required="true">
            </fieldset>
            <fieldset>
                <legend>Data de finalización do Practicum <h7 class="asterisco">*</h7></legend>
                <input type="date" required="true">
            </fieldset>
            <fieldset>
                <legend>Horas totais do Practicum <h7 class="asterisco">*</h7></legend>
                <input type="text" required="true" pattern="^[0-9]{1,4}$" size="4" maxlength="4" >
            </fieldset>
            <input type="text" name="titulacion" style="visibility: hidden;" value="trabajosocial"><br>
            <button type="submit" form="trabajosocial" value="Submit">Enviar</button>
            <button type="reset"  form="trabajosocial" value="Reset">Reestablecer</button>
        </form>

        </section>
    </body>
</html>
